<!-- FILEPATH: /c:/Users/caiob/OneDrive/Eu/OneDrive/Documentos/Codes (CESAR and Others)/2nd Semester (2023)/BD/Unit 2/webapp/brascolor/src/main/resources/templates/home.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Brascolor</title>
  </head>
  <body>
    <h1>Bem vindo a Gráfica e Editora Brascolor!</h1>
    <p>Escolha o que deseja fazer:</p>
    <ul>
      <li><a th:href="@{/os}">Lançar Ordem de Serviço</a></li>
      <li><a th:href="@{/viewos}">Ver Ordem(ns) de Serviço</a></li>
      <li><a th:href="@{/changeos}">Alterar Ordem(ns) de Serviço</a></li>
      <li><a th:href="@{/deleteos}">Deletar Ordem(ns) de Serviço</a></li>
    </ul>
    <a th:href="@{/logout}">Logout</a> 
  </body>
</html>
