<!-- FILEPATH: /c:/Users/caiob/OneDrive/Documentos/Codes (CESAR and Others)/2nd Semester (2023)/BD/Unit 2/webapp/brascolor/src/main/resources/templates/components/login.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="idFunc">ID do Funcionário:</label>
            <input type="text" id="idFunc" name="idFunc" required>
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>
